<article class="bg_orange mx-1 my-1 px-1 py-1">
    <div class="mx-1 my-1 px-1 py-1 border">
        <h4 class="text_blue">Sección para mostrar posteos del blog</h4>


        <div class="mx-2 my-2 px-1 py-1 bg_blue">


            <% datos_post.forEach(post=> { %>

                <div class="bg_beige mx-2 my-2 px-1 py-1 rounded-2">

                    <p class="mx-1 my-1">id: <%= post.id_post %>
                    </p>
                    <h3 class="text-center">titulo: <%= post.titulo %>
                    </h3>
                    <div class="mx-1 my-1 px-1 py-1">
                        <p>contenido: <%= post.contenido %>
                        </p>
                    </div>

                    <h5>autor: <%= post.autor %>
                    </h5>
                    <p>fecha publicación: <%= post.fecha_publicacion %>
                    </p>
                    <p>Categoría: <%= post.categoria %>
                    </p>

                </div>

            <% }) %>

        </div>

    </div>

    <div class="bg_beige mx-1 my-1 px-1 py-1">

        <h4 class="ms-2 me-1 mt-2 mb-1">Artículo blog</h4>

        <h3 class="text-center">Título post</h3>

        <div class="bg_white mx-2 my-2 px-1 py-1">
            <p class="mx-2 my-2 px-1 py-1">Espacio para imagen del posteo</p>
        </div>

        <div class="mx-2 my-2 px-2 py-2">
            <p class="px-1 py-1">Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del
                posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
            </p>

            <p class="px-1 py-1">Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del
                posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
                Sección para párrafo del contenido del posteo. Sección para párrafo del contenido del posteo.
            </p>

        </div>

        <div class="mx-2 my-2 px-2 py-2">
            <h5>Autor del posteo</h5>
            <h5>Fecha del posteo</h5>
            <h5>Categoria del post</h5>
        </div>

    </div>
</article>